/bin
/obj
Phone/obj
Phone/bin
/packages
/Logs.8080
/*.config
/*.dll
/*.pdb
/*.exe
/*.manifest
/*.def
/*.suo
/Phone/docs
/Phone/app.config
/Properties/launchSettings.json
/.vs
/.gitmodules
/*.user
/CodeFirstWebFramework.zip
/*.cmd
