<head>
	<title>Help</title>
</head>
<body>

{{#if Contents}}[Contents](default.md) {{/if}}{{#if Previous}}Previous: {{Previous}} {{/if}}{{#if Parent}}Up: {{Parent}} {{/if}}{{#if Next}}Next: {{Next}} {{/if}}

{{Body}}

{{#if Contents}}[Contents](default.md) {{/if}}{{#if Previous}}Previous: {{Previous}} {{/if}}{{#if Parent}}Up: {{Parent}} {{/if}}{{#if Next}}Next: {{Next}} {{/if}}

</body>
