<head>
	<script>
		$(function() {
			var table = makeDataTable('#datatableform', 
				{{Form.SafeOptions}}
			);
		});
	</script>
</head>
<body>
<table id="datatableform" cellspacing="0" width="100%"></table>
</body>
