<head>
	<script>
		$(function() {
			var table = makeDumbForm('#dumbform', 
				{{Form.Options}}
			);
		});
	</script>
</head>
<body>
<form method="POST" enctype="multipart/form-data">
	<table id="dumbform" cellspacing="0"></table>
</form>
</body>
