<head>
	<script {{NonceAttribute}}>
		$(function() {
			var table = makeForm('#form', 
				{{Form.SafeOptions}}
			);
		});
	</script>
</head>
<body>
<table id="form" cellspacing="0"></table>
</body>
