<head>
{{#if Form.Pages}}
<link{{NonceAttribute}} href="/multipageform{{VersionSuffix}}.css" rel="stylesheet" type="text/css" />
{{/if}}
	<script {{NonceAttribute}}>
		$(function() {
			var table = makeForm('#form', 
				{{Form.SafeOptions}}
			);
		});
	</script>
</head>
<body>
<div class="form-body">
<table id="form" cellspacing="0"></table>
</div>
</body>
