<head>
	<script {{NonceAttribute}}>
		$(function() {
			var table = makeHeaderDetailForm('#headerform', '#detailform', 
				{{Form.SafeOptions}}
			);
		});
	</script>
</head>
<body>
<table id="headerform" cellspacing="0"></table>
<table id="detailform" cellspacing="0"></table>
</body>
