<head>
	<script>
		$(function() {
			var table = makeHeaderDetailForm('#docs', '#detail', 
				{{Form.Options}}
			);
		});
	</script>
</head>
<body>
<table id="docs" cellspacing="0" width="100%"></table>
<table id="detail" cellspacing="0" width="100%"></table>
</body>
