<head>
{{#if Form.Header.Pages}}
<link{{NonceAttribute}} href="/multipageform{{VersionSuffix}}.css" rel="stylesheet" type="text/css" />
{{/if}}
	<script {{NonceAttribute}}>
		$(function() {
			var table = makeHeaderDetailForm('#headerform', '#detailform', 
				{{Form.SafeOptions}}
			);
		});
	</script>
</head>
<body>
<div class="form-body">
<table id="headerform" cellspacing="0"></table>
<table id="detailform" cellspacing="0"></table>
</div>
</body>
