<head>
	<script {{NonceAttribute}}>
		$(function() {
			var table = makeListForm('#listform', 
				{{Form.SafeOptions}}
			);
		});
	</script>
</head>
<body>
<div class="form-body">
<table id="listform" cellspacing="0"></table>
</div>
</body>
