div.form-body {
    border-top: 1px solid black;
    clear: both;
    padding: 0 1em;
}

div.form-tabs span.tab {
    position: relative;
    top: 1px;
    float: left;
    display: inline-block;
    border: 1px solid #bbb;
    margin: 0;
    display: block;
    background: #eee;
    padding: 0.24em 1em;
    color: #00c;
    border-radius: 8px 8px 0px 0px;
    cursor: pointer;
}

div.form-tabs span.tab:hover {
    background: #ddf;
}

div.form-tabs span.tab.selected {
    background: white;
    color: black;
    border-color: black;
    border-bottom-color: white;
    cursor: default;
}

div.form-tabs button.nextpage[disabled] {
    color: lightgray;
    cursor: default;
}
